
/*-----------------------------------*\
  #LOADING
\*-----------------------------------*/


/* box bar start */

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 100000;
  transform-origin: bottom;
  transition: .4s cubic-bezier(0.51, 0.03, 0.64, 0.28);
  transition-delay: .4s;
}

.loading img {
  width: 200px !important;
  margin-bottom: 40px;
}
.dot-animation{
  margin-top: 50px !important;
}
.loading.loaded {
  transform: scaleY(0);
  pointer-events: none;
}

.loading>* {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .4s cubic-bezier(0.51, 0.03, 0.64, 0.28);
}

.loading.loaded>* {
  opacity: 0;
}

/* .loading .circle {
  animation: rotate360 1.5s linear infinite;
} */

/* @keyframes rotate360 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
} */

.dot {
  width: 10px;
  height: 10px;
  background-color: #2AC9A2; /* Blue */
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  animation: bounce 1s infinite ;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18px);
  }
}



/* slide up animation start */
.slide-up {
  opacity: .7;
  transition: all .5s;
  transform: translateY(70%);
  filter: blur(3px);
}

.slide-up-show {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0%);
}

/* slide-up animation close */

/* slide up animation start */
.long-slide-up {
  opacity: .7;
  transition: all .5s;
  transform: translateY(100%);
  filter: blur(3px);
}

.long-slide-up-show {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0%);
}

/* slide-up animation close */

/* slide down animation start */
.slide-down {
  opacity: 0;
  transition: all .7s;
  transform: translateY(-70%);
  filter: blur(3px);
}

.slide-down-show {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0%);
}

/* slide-down animation close */

/* slide up animation start */
.slide-left {
  opacity: 0;
  transition: all .5s;
  transform: translateX(-100%);
  filter: blur(3px);
}

.slide-left-show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

/* slide-up animation close */
/* slide up animation start */
.slide-right {
  opacity: 0;
  transition: all .5s;
  transform: translateX(100%);
  filter: blur(3px);
}

.slide-right-show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

/* slide-up animation close */

.rotate {
  opacity: 0;
  transition: all .5s;
  transform: rotate(180deg);
  filter: blur(3px);
}

.rotate-show {
  opacity: 1;
  filter: blur(0px);
  transform: rotate(0deg);
}


/* scale animation start */
.scale {
  opacity: .7;
  transition: all .6s;
  transform: scale(3);
  filter: blur(3px);
}

.scale-show {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1);
}

/* scale animation close */








/* ------------------------------------------------------------------------------ */
/* ----------------------- Contact Section Start ----------------------------- */

.contact__Section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--white);
}


.contact__info {
  padding-top: 3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact__Section .hey-mobile {
  display: none;
}

.contact__info h1 {
  line-height: 76px;
  font-family: var(--ff-tthoves-medium);
}

.contact__section-title h1 {
  font-family: var(--ff-tthoves-medium);
  font-size: 86px;
}

.contact__info-name,
.contact__info-email,
.contact-details {
  margin-bottom: 20px;
}

.contact__section-content label {
  font-family: var(--ff-tthoves-regular);
  font-size: 32px;
}

.contact__Section input {
  width: 24%;
  margin: 0 24px;
  margin-top: 2px;
  font-family: var(--ff-tthoves-regular);
  border-bottom: 3px solid var(--secondery-color);
  font-size: 28px;
  padding: 10px 0;
  outline: none;
}

.contact-details input {
  width: 30%;
}

.contact__Section input::placeholder {
  color: var(--secondery-color);
  font-size: var(--input-font-size);
  font-family: var(--ff-tthoves-regular);
}

/* contact btn start */
.contact__Section input.btn.ab-btn {
  width: 100% !important;
  height: 70px !important;
  border: none;
  padding: 10px 10px 10px 10px;
}


.contact__Section .btn-animation {
  margin-top: 0px;
  border: 2px solid var(--black);
  padding: 10px 0px;
  color: var(--black);
  position: relative;
  z-index: 2;
  height: 70px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  background-color: var(--white);
  transition: .2s ease-in-out;
}

.contact__Section .btn-animation .inner-arrow {
  font-size: 20px;
  color: var(--black);
  z-index: 2;
  margin: 0px -40px 0px 40px;
  transition: .2s ease-in-out;
}

.contact__Section .btn-animation:hover .inner-arrow {
  margin: 0px 10px 0px -10px;
  color: var(--white) !important;
  display: block;
}

.contact__Section .btn-animation:hover {
  background: var(--black);
  width: 220px;
}

.contact__Section .ab-btn {
  color: var(--black);
  z-index: 2;
  margin: 0px -13px 0px 13px;
  font-family: var(--ff-azeret-regular);
}

.contact__Section .btn-animation:hover .ab-btn {
  color: var(--white) !important;
  margin: unset;
}

.contact__Section .btn-animation span {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--white);
  transition: .2s linear;
  border-radius: 50px;
  z-index: 1;
}

.contact__Section .btn-animation:hover span {
  height: 0%;
  width: 50%;
}


.submit-area {

  margin-left: 8.7rem;

}

#home__submit-area {
  margin-left: 0;
}

.contact__Section .contact-details {
  display: flex;
}

/* ----------------------- Footer Start ----------------------------- */

.footer {
  width: 100%;
  background-color: var(--white-1);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  padding-bottom: 2rem;
}

.footer__short-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 2rem;
}

.footer__short-links .short-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 84px;
}

.footer__short-links .short-link a {
  font-size: 12px;
  font-family: var(--ff-azeret-regular);
}

.footer__short-links .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
}

.footer .social-link a i {
  font-size: 20px !important;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1.5px solid #000000 !important;
}


.footer__big-logo {
  width: 100%;
}

.footer__big-logo img {
  width: 100%;
}

.contact__Section {
  z-index: 10;
  margin-bottom: 750px;
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  padding: 7rem 0;
}

.footer {
  width: 100%;
  height: 770px;
  display: flex;
  align-items: end;
  position: fixed;
  bottom: 0;
  z-index: 0;
}
.h-footer{
  width: 100%;
  height: 770px;
  display: flex;
  align-items: end;
  position: fixed;
  bottom: 0;
  z-index: -2;
}


/* jquery class for paralax section */
.sec-fixed {
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.h-sec-fixed {
  position: fixed;
  bottom: 0;
  z-index: 0;
}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 600px) {
  :root {
    /* Section Space */
    --section-padding: 60px;
  }

  /* ----------------------- Contact Section Start ----------------------------- */
  .contact__Section {
    z-index: 10;
    margin-bottom: 750px;
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
  }

  .contact__info-name,
  .contact__info-email,
  .contact-details {
    margin-bottom: 0px;
  }

  .contact__section-title h1 {
    font-family: var(--ff-tthoves-medium);
    font-size: 34px;
  }

  .contact__Section .contact-details {
    flex-direction: column;
    align-items: self-start;
  }

  .submit-area {
    margin-left: 0rem;
  }

  .contact__section-content label {
    font-family: var(--ff-tthoves-regular);
    font-size: 26px;
  }

  .contact__Section input {
    width: 100%;
    font-size: 24px;
    margin: 0px 0px 40px 0px;
    margin-top: 2px;
    border-bottom: 3px solid var(--secondery-color);
    padding: 10px 0;
    outline: none;
  }

  .contact__info {
    padding-top: 3rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  /* Footer */
  .footer__short-links {
    align-items: flex-end;
    ;
  }

  .footer__short-links .short-link {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 24px;
  }
}



/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 601px) and (max-width: 767px) {
  :root {
    /* Section Space */
    --section-padding: 60px;
  }

  /* ----------------------- Contact Section Start ----------------------------- */
  .contact__Section {
    z-index: 10;
    margin-bottom: 750px;
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
  }

  .contact__info-name,
  .contact__info-email,
  .contact-details {
    margin-bottom: 0px;
  }

  .contact__section-title h1 {
    font-family: var(--ff-tthoves-medium);
    font-size: 40px;
  }

  .contact__Section .contact-details {
    flex-direction: column;
    align-items: self-start;
  }

  .submit-area {
    margin-left: 0rem;
  }

  .contact__section-content label {
    font-family: var(--ff-tthoves-regular);
    font-size: 28px;
  }

  .contact__Section input {
    width: 100%;
    margin: 0px 0px 40px 0px;
    margin-top: 2px;
    border-bottom: 3px solid var(--secondery-color);
    padding: 10px 0;
    outline: none;
  }

  .contact__info {
    padding-top: 3rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  /* Footer */
  .footer__short-links {
    align-items: flex-end;
    ;
  }

  .footer__short-links .short-link {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 24px;
  }
}




/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    /* Section Space */
    --section-padding: 60px;
  }

  .navbar {
    width: 50%;
  }

  /* ----------------------- Contact Section Start ----------------------------- */
  .contact__Section {
    z-index: 10;
    margin-bottom: 750px;
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
  }

  .contact__info-name,
  .contact__info-email,
  .contact-details {
    margin-bottom: 0px;
  }

  .contact__section-title h1 {
    font-family: var(--ff-tthoves-medium);
    font-size: 46px;
  }

  .contact__section-content label {
    font-family: var(--ff-tthoves-regular);
    font-size: 28px;
  }

  .contact__Section input {
    width: 100%;
    margin: 0px 0px 40px 0px;
    margin-top: 2px;
    border-bottom: 3px solid var(--secondery-color);
    padding: 10px 0;
    outline: none;
  }

  .contact__info {
    padding-top: 3rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

}

@media (min-width: 1025px) and (max-width: 1200px) {

  .contact__section-content label {
    font-family: var(--ff-tthoves-regular);
    font-size: 26px;
}

.contact__Section input {
  width: 24%;
  font-size: 20px;
}

.submit-area {
  margin-left: 4.7rem;
}

#project-details
{
  width: 35%;
}

}


@media (min-width:1200px) {
  .contact__Section {
    z-index: 10;
    margin-bottom: 750px;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
}

